<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="React pwa site - Angel G. Prado Brun - Software Engineer"
        />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <base href="<%= htmlWebpackPlugin.options.base_path %>" />

        <link
            id="folderAsset"
            rel="icon"
            type="image/icon"
            href="<%= htmlWebpackPlugin.options.base_path_asset %>assets/favicon.ico"
        />
        <link
            rel="apple-touch-icon"
            href="<%= htmlWebpackPlugin.options.base_path_asset %>assets/icon-192x192.png"
        />
        <!-- 
            info - PWA
            manifest.json provides metadata used when your web app is installed on a
            user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
        -->
        <link
            rel="manifest"
            href="<%= htmlWebpackPlugin.options.base_path %>manifest.json"
        />
        <!-- bootstrap css -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
